.navbar {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.menu {
  display: flex;

  list-style: none;
  color: rgba(0, 0, 0, 0.65);
}
.menu li {
  margin-left: 5px;
}
.menu a {
  color: #615d5d;
  text-decoration: none;
}
